<!DOCTYPE html>
<!-- saved from url=(0022)https://aws-rails.com/ -->

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>ODED + AWS + Rails</title>
    <meta name="csrf-param" content="authenticity_token">
    <meta name="csrf-token" content="QSRwIw2s+wxgKaPJLyuHK1E0dwh4aUn23Bra5F5NHwtjcTjX3uJzC05vnFTzYSeqrm/h+c19JZmj2iOFvyR2fA==">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="./AWS + Rails_files/application-b51e566cca3ab90f373b.js" data-turbolinks-track="reload"></script>
  </head>

  <body>
    <%= render 'shared/alert' %>
    <%= render 'shared/header' %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>

</html>
